/* Yleiset tyylit */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #040404;
  position: relative; /* Tämä tarvitaan z-indexin toimimiseksi */
  z-index: 1000; /* Varmistaa, että header on muiden elementtien päällä */
}

.logo {
  color: white;
  font-size: 28px;
}

.logo img {
  height: 75px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 1001; /* Varmistaa, että valikko on logon ja hamburger-menu-ikonin päällä */
}

.nav-list li a {
  color: #f0c040;
  text-decoration: none;
  font-size: 18px;
}

.nav-list li a:hover {
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001; /* Varmistaa, että hamburger-menu-ikoni on valikon päällä */
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #f0c040;
}

.section {
  padding: 50px;
  text-align: center;
}

/* Koti-section koko ruudun taustakuvalla ja keskitetty teksti */
.home-section {
  background: url("images/pic2.jpg") no-repeat center center/cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.home-section .content {
  background: rgba(60, 59, 59, 0.5); /* Lievä läpinäkyvä tausta tekstille */
  padding: 20px 40px;
  border-radius: 10px;
  max-width: 800px;
  position: absolute; /* Tämä mahdollistaa sijainnin muuttamisen */
  bottom: 20%; /* Asettaa sen hieman sivun alaosaan mobiililaitteilla */
  color: #f0c040;
}

/* Isommat näytöt (yli 768px leveät) */
@media (min-width: 768px) {
  .home-section .content {
    top: 10%; /* Siirtää sen ylemmäs suuremmilla näytöillä */
    bottom: auto; /* Poistaa alaosan sijainnin */
  }
}

h1 {
  margin: 2rem;
  letter-spacing: 0.5px;
}

/* Lisää tilaa h2 ja p tagien väliin */
h2 {
  margin-bottom: 20px; /* Säädä tarvittaessa */
  letter-spacing: 0.5px;
}

p {
  margin-bottom: 20px; /* Varmista, ettei ylimääräistä tilaa lisätä */
  font-size: 18px;
  letter-spacing: 0.5px;
}

/* Palvelut -osio */

.services-section .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.services-section .image {
  flex: 1 1 45%; /* Kahden kuvan asettelu vierekkäin */
}

.services-section .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Pehmeä varjo kuvan ympärillä */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Sujuva siirtymä */
  margin: 20px 0px;
}

.services-section .image img:hover {
  transform: scale(1.05); /* Kuva suurenee hieman hoverin aikana */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Syvempi varjo hoverin aikana */
}

.pricing-section .image img {
  border-radius: 10px;
  max-width: 50%; /* Rajoittaa kuvan leveyden 50% säiliön leveydestä */
  height: auto; /* Säilyttää kuvan korkeus-suhteen */
  display: block;
  margin: 0 auto; /* Keskittää kuvan vaakasuunnassa */
}

@media (max-width: 768px) {
  .pricing-section .image img {
    max-width: 80%; /* Suurempi kuva mobiilinäytöillä, mutta ei liian iso */
  }
}

/* Palvelut ja hinnasto osioiden keskittäminen */
.services-section p {
  text-align: left;
  margin: 0 auto 20px auto;
  max-width: 1000px;
  padding: 20px;
  background: #fff; /* Läpinäkyvä tausta */
  border-radius: 10px;
  color: #2d2d2d;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: 0.5px;
}

.contact-section {
  background-color: #040404;
  color: aliceblue;
}

.services-section h2 {
  font-size: 28px;
}

.services-section h3 {
  margin: 20px 0 10px 0;
  color: #070707;
  font-size: 24px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3); /* Varjoefekti otsikoille */
  padding: 16px;
  letter-spacing: 0.5px;
}

footer {
  background: url("") no-repeat center center/cover;
  padding: 50px;
  text-align: center;
  color: rgb(2, 2, 2);
}

footer button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border: none; /* Poistaa nappien oletusreunuksen */
  background-color: #f0c040; /* Taustaväri nappille */
  color: #040404; /* Tekstiväri nappille */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Varjoefekti nappille */
  transition: all 0.3s ease; /* Sulava siirtymäefekti */
}

footer button:hover {
  background-color: #e0b030; /* Tummempi taustaväri hover-tilassa */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Voimakkaampi varjo hover-tilassa */
  transform: scale(1.05); /* Pieni suurennus hover-tilassa */
}

footer p {
  margin-top: 20px;
}

/* Media queries for mobile */
@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    background-color: #3c3b3b;
    position: absolute;
    top: 100px; /* Laskee nav-list elementtiä alaspäin */
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Varmistaa, että valikko on muiden elementtien päällä */
    padding: 10px 0; /* Lisää tilaa ylhäältä ja alhaalta */
  }

  .nav-list.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /* Palvelut -osio pienemmällä näytöllä */
  .services-section .image {
    flex: 1 1 100%; /* Kuvat allekkain mobiilinäytöllä */
  }

  .pricing-section h2 {
    font-size: 28px;
  }

  .pricing-section {
    flex-direction: column;
    padding: 20px; /* Lisää tilaa hinnaston osioon */
  }

  .pricing-section .image {
    display: flex;
    justify-content: center; /* Keskittää kuvan vaakasuunnassa */
  }
}
